<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberList</title>
</head>
<body>

<h1 style="text-align: center">NEW MEMBER</h1>
<button style="width: 80px; display: block;margin: auto" onclick="location.href='/'">등록취소</button >
<br>
<form method="post" action="/insertMember">
    <div style="text-align: center; margin: 0 auto">
        <table style="margin: 0 auto">
            <tr>
                <td>NAME</td><td><input type="text" name="name" required><br></td>
            </tr>
            <tr>
                <td>TEAM</td><td><input type="text" name="team" required><br></td>
            </tr>
            <tr>
                <td>POSITION</td><td><input type="text" name="position" required><br></td>
            </tr>
            <tr>
                <td>WIDETNS ID</td><td><input type="text" name="email" required><br></td>
            </tr>
            <tr>
                <td>PHONE</td><td><input type="text" name="phone" required><br></td>
            </tr>
        </table><br>
        <input type="submit" value="저장">
        <input type="reset" value="초기화">
    </div>
</form>

</body>
</html>